<!DOCTYPE html>
<html>
<head>
  <title>Coastal Cabinets</title>
  
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/slick.css" />
		<link rel="stylesheet" href="/css/foundation.css" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>

		<%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body class="home blog">
		
	<div class="off-canvas-wrap" data-offcanvas>
	<div class="inner-wrap">
	
		

	<div class="container">
    <div class="row logo-row">
        <!--<h1 id="main-title"><a href="http://coastal.branch13.com">Coastal</a></h1>-->
        <a href="/"><img width="500" src="/images/cci-logo.jpg" /></a>
    </div>
</div>
<div class="top-bar-container contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
        <!--<ul class="title-area">
            <li class="name">
                <h1><a href="http://coastal.branch13.com">Coastal</a></h1>
            </li>
        </ul>-->
        <section class="top-bar-section">
            <ul id="menu-main-1" class="top-bar-menu left">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/pages/company">Company</a>
                </li>
            	<li class="has-dropdown not-click">
            		<a href="/portfolio" class>Portfolio</a>
            	
            		<ul class="dropdown">
            			<% @categories.each do |cat| %>
            	 <li>
                    <a href="/category/<%= cat.id %>"><%= cat.name %></a>
            	
            	</li>
            	<% end %>
            		</ul>
            	</li>
                <li>
                    <a href="/pages/contact">Contact</a>
                </li>
            	
</ul>                    </section>
    </nav>
</div>
<div class="main-content">
<%= yield %>
</div>

<div class="dumb-footer">
    <a href="/"><img width="300" src="/images/cci-logo.jpg" /></a>
    </div>


<script type='text/javascript' src='/js/jquery.js'></script>
<script type='text/javascript' src='/js/foundation.js'></script>
<script type="text/javascript" src="/js/slick.js"></script>
<script type="text/javascript">
var paused = false;
var intervalId = null;
$(document).ready(function(){
	if($('.slides')){
		$('.slides').slick({
			dots: true,
			infinite: true,
			speed: 300,
			slidesToShow: 1,
			adaptiveHeight: true,
            autoplay: false,
            
			prevArrow: '<button type="button" class="slick-prev-icon show-for-medium-up"><i class="fa fa-chevron-left"></i></button>',
			nextArrow: '<button type="button" class="slick-next-icon show-for-medium-up"><i class="fa fa-chevron-right"></i></button>'
		});
        setInterval(function(){
            if(!paused){
                $('.slides').slickNext();
            }
        }, 2000)
        $('.slick-dots').append('<div class="play-pause"><i class="fa fa-pause"></i></div>');
        function manualNav(){
            paused = true;
            $('.play-pause i').removeClass('fa-pause');
            $('.play-pause i').addClass('fa-play');
        }
        $('.slick-prev-icon').click(manualNav);
        $('.slick-next-icon').click(manualNav);
        $('.play-pause i').click(function(){
            if(!paused){
                $('.slides').slickPause();
                $('.play-pause i').removeClass('fa-pause');
                $('.play-pause i').addClass('fa-play');
            }
            else{
                $('.slides').slickPlay();
                $('.play-pause i').removeClass('fa-play');
                $('.play-pause i').addClass('fa-pause');
            }
            paused = !paused;
        });
	}
});
</script>

</body>
</html>
